


<div class="row">
  <div class="col-sm-6">
    <h1>Body Types</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_body_type_path, class: 'btn btn-primary' do %>
    Add New Body Type
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Body Type</th>
      </tr>
    </thead>

    <tbody>
      <% @body_types.each do |body_type| %>
        <%= content_tag :tr, id: dom_id(body_type), class: dom_class(body_type) do %>
          <td><%= link_to body_type.body_type, body_type %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
